.hero{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  opacity: 0;
  transform: translateY(4vh);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hero-container {
  width: 90vw;
  max-width: 320px;
  background: linear-gradient(to right, rgb(127, 164, 164), rgb(26, 60, 92));
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4vh;
  align-items: center;
  text-align: center;
  margin-top: 8vh;
  padding: 30px 0;
}

.visible {
  opacity: 0.8; /* Делаем блок видимым */
  transform: translateY(0); /* Смещаем в исходное положение */
}

.hero-container-logo{
  width: 90vw;
  max-width: 295px;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container-logo h2{
  font-size: 20px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.hero-container-logo-icon{
  width: 275px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container-logo-icon p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 5px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

#address {
  align-items: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-height:320px) and (max-height: 450px){
  .hero-container{
    margin-top: 25vh;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px){
  .hero-container {
    max-width: 600px;
    padding: 60px 20px;
    flex-direction: row;
    gap: 5px;
  }

  .hero-container-logo{
    width: 40%;
    justify-content: end;
    gap: 2vh;
    padding-left: 0;
  }
  
  .hero-container-logo h2{
    font-size: 23px;
  }
  
  .hero-container-logo-icon{
    width: 50%;
    gap: 7px;
  }
  
  .hero-container-logo-icon p{
    gap: 1vh;
    font-size: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (min-height:320px) and (max-height: 450px){
  .hero-container{
    margin-top: 20vh;
  }
}

@media (min-width: 1025px){
  .hero-container {
    margin-top: 7vh;
    max-width: 900px;
    flex-direction: row;
  }

  .hero-container-logo{
    padding-left: 0;
  }
  .hero-container-logo h2{
    font-size: 26px;
  }
  
  .hero-container-logo-icon{
    padding: 0;
    align-items: start;
    gap: 7px;
    width: 37%;
  }
  
  .hero-container-logo-icon p{
    gap: 2vh;
    font-size: 20px;
  }

  #address {
    text-align: left;
  }

  #heroFutureCommentary{
    max-width: 900px !important;
  }
}